@import "./fonts.css";
@import "./basics.css";
@import "./navbar.css";
@import "./logo.css";
@import "./message.css";
@import "./widget.css";
@import "./menu.css";
@import "./prompt.css";
@import "./footer.css";

.none {
  display: none;
}
