.navbar {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100%;

  justify-content: space-between;
  background-color: var(--background-2);
  z-index: 1;
}

.navbar-button {
  background-color: var(--background-3);
  border-radius: 5px;
  border: none;
  height: 32px;
  width: 32px;

  margin: 8px 20px;
}
